$brand-black: #1a171b;
$brand-white: #fff;

$brand-green: #1e9d8b;

$brand-blue: #009cff;

$text-color: $brand-black;
$text-color-light: $brand-white;
$text-color-highlight: $brand-blue;
$text-color-link: $brand-blue;
$page-background: $brand-white;
